@import "colors";

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap');

$family-sans-serif: "Titillium Web", sans-serif;
$primary: $pink;
$danger: $chigong;
$success: $mint-leaf;
$info: $belize-hole;
$warning: $pumpkin;
$body-background-color: $midnight-blue;
$link: $primary;